{% extends 'user/layout/layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% set page_title %}Hello UserController!{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
<div class="example-wrapper">
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
