@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars/fonts";
@import "vars/vars";
@import "vars/variables";

@import "components/notification";
@import "components/loader";
@import "components/list";
@import "components/pagination";
@import "components/toolbar";
@import "components/modal";

body {
  @include fontRegular();
}

h1{
  font-weight: bold;
}

h2{
  font-weight: 600;
}

b, strong{
  font-weight: bold;
}

#toast-container{
  .toast{
    .toast-title{
      font-weight: 600;
    }
  }
}

$data:
        "alpha"   var(--alpha),
        "primary" var(--primary),
        "warning" var(--warning),
        "danger"  var(--danger),
        "success" var(--success),
;

@each $name, $txt in $data {
  .txt-#{$name}{
    color: $txt;
  }
}

.nav-content.active{
  display: block;
}

a:hover, button:hover{
  .tooltip{
    display: block;
  }
}
