{% extends 'user/pages/workers/template.html.twig' %}

{% set page_title %}Ajouter un membre{% endset %}
{% set page_subtitle %}
    Ajoutez un nouveau membre à l'équipe pour les inscriptions.
{% endset %}

{% set page_actions %}
    <a href="{{ path('user_workers_index') }}"
       class="inline-block rounded-md bg-gray-100 font-semibold py-2 px-4 text-center transition-colors hover:bg-gray-200"
    >
        <span class="icon-left-arrow inline-block translate-y-0.5"></span>
        <span class="ml-1">Retourner à la liste</span>
    </a>
{% endset %}

{% block main_content %}
    <div id="worker_create" class="w-full mx-auto max-w-3xl mt-4">
        {% include "layout/components/user/loaders/loader.html.twig" %}
    </div>
{% endblock %}
