{% extends 'user/pages/workers/template.html.twig' %}

{% set page_title %}Équipe{% endset %}
{% set page_subtitle %}
    Ajoutez les membres de votre équipe pour les inscrire aux formations.
{% endset %}

{% set page_actions %}
    {% include "user/layout/components/buttons/button_blue.html.twig" with {
        btn_link: path('user_workers_create'),
        btn_icon: 'add',
        btn_text: 'Ajouter un membre'
    }
    %}
{% endset %}

{% block main_content %}
    <div class="mx-auto">
        {% if data is empty %}
            <div class="flex flex-col gap-2 items-center pt-6">
                <div>
                    <span class="icon-group inline-block text-5xl text-gray-600"></span>
                </div>
                <div class="text-center">
                    <h2>Ajouter un membre à l'équipe</h2>
                    <p class="text-gray-600 text-sm">
                        Vous n'avez pas encore ajouté de membre à votre équipe.
                    </p>
                </div>
                <div id="worker_create" class="w-full max-w-3xl mt-4">
                    {% include "layout/components/user/loaders/loader.html.twig" %}
                </div>
            </div>
        {% else %}
            <div id="worker_list">
                {% include "layout/components/user/loaders/loader.html.twig" %}
            </div>
        {% endif %}
    </div>
{% endblock %}
