{% extends 'manager/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Raccourcis{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('manager_homepage') }}
{% endblock %}

{% block main_content %}
<div>
    Hello world
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('manager_homepage') }}
{% endblock %}
