{% extends 'manager/pages/news/template.html.twig' %}

{% set page_title %}Actualités{% endset %}
{% set page_subtitle %}Gestion des actualités.{% endset %}

{% set page_actions %}
    {% include "user/layout/components/buttons/button_blue.html.twig" with {
        btn_link: path('manager_news_create'),
        btn_icon: 'add',
        btn_text: 'Ajouter une actualité'
    }
    %}
{% endset %}

{% block main_content %}
    <div id="news_list" data-highlight="{{ highlight }}">
        {% include "layout/components/manager/loaders/loader.html.twig" %}
    </div>
{% endblock %}
