{% extends 'user/pages/formations/template.html.twig' %}

{% set page_title %}Pré-inscription{% endset %}
{% set page_subtitle %}Pré-inscription à {{ elem.name }}.{% endset %}

{% block main_content %}
    <div id="formations_preregistration" class="w-full"
         data-workers="{{ workers }}"
    >
        {% include "layout/components/user/loaders/loader.html.twig" %}
    </div>
{% endblock %}
